## .NET
bin/
obj/
*.user
*.suo
*.userprefs
*.csproj.user
*.dbmdl
*.vs/
.vscode/
*.DotSettings.user

## NuGet
**/[Nn]uGet.exe
*.nupkg
nupkg/

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## temp files
*.tmp
*.log
